<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Chèn header -->
	<div th:replace="~{fragment/header :: header}"></div>
	
	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-9">
					
					<div class="hero__item set-bg" data-setbg="img/hero/main_banner.jpg">
						<div class="hero__text">
							<a 
					        th:if="${session.user != null}" 
					        th:href="@{/shop-details}" 
					        class="primary-btn">SHOP NOW</a>
					   		<a 
					        th:if="${session.user == null}" 
					        th:href="@{/login}" 
					        class="primary-btn">SHOP NOW</a>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- Categories Section Begin -->
	
	<!--   <section class="categories" th:if="${session.user != null}"> -->
	<section class="categories">
		<div class="container">
			<div class="row">
				<div class="categories__slider owl-carousel">
					<div class="col-lg-3">
						<div class="categories__item set-bg"
							data-setbg="img/categories/cat_04.jpg">
							<h5>
								<a th:if="${session.user != null}" th:href="@{/shop/fruit}">Trái Cây</a>
								<a th:if="${session.user == null}" th:href="@{/login}">Trái Cây</a>
							</h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg"
							data-setbg="img/categories/cat_02.jpg">
							<h5>
								<a th:if="${session.user != null}" th:href="@{/shop/food}">Đồ Ăn</a>
								<a th:if="${session.user == null}" th:href="@{/login}">Đồ Ăn</a>
								
							</h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg"
							data-setbg="img/categories/cat_01.jpg">
							<h5>
								<a th:if="${session.user != null}" th:href="@{/shop/drink}">Giải Khát</a>
								<a th:if="${session.user == null}" th:href="@{/login}">Giải Khát</a>
								
							</h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg"
							data-setbg="img/categories/cat_03.jpg">
							<h5>
								<a th:if="${session.user != null}" th:href="@{/shop/drink}">Giải Khát</a>
								<a th:if="${session.user == null}" th:href="@{/login}">Giải Khát</a>
							</h5>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->

	<!-- Featured Section Begin -->
	<section class="featured spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Featured Product</h2>
					</div>
					<div class="featured__controls">
						<ul>
							<li class="active" data-filter="*">All</li>
							<li data-filter=".fruit">Trái Cây</li>
							<li data-filter=".food">Đồ Ăn</li>
							<li data-filter=".drink">Giải Khát</li>
							<li data-filter=".dessert">Tráng Miệng</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row featured__filter">
			
				<div class="col-lg-3 col-md-4 col-sm-6 mix food">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-01.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Combo 1
							</h6>
							<h5>80000 VND</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix food">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-02.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Combo 2
							</h6>
							<h5>75000 VND</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix food">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-03.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Bánh Tráng Nướng
							</h6>
							<h5>25000 VND</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix food">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-04.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Bún Đậu Mắm Tôm
							</h6>
							<h5>45000 VND</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix dessert">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-05.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Đông Sương
							</h6>
							<h5>10000 VND</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix dessert">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-06.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Bánh Sừng Bò
							</h6>
							<h5>25000 VND</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix dessert">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-07.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Bánh Su Kem</a>
							</h6>
							<h5>13000 VND</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix dessert">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-08.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Bánh Quy
							</h6>
							<h5>20000 VND</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix drink">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-09.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								CoCaCoLa
							</h6>
							<h5>20000 VND</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix drink">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-10.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Pepsi
							</h6>
							<h5>20000 VND</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix drink">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-11.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Sinh Tố Bơ
							</h6>
							<h5>25000 VND</h5>
						</div>
					</div>
				</div>
				
				
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix drink">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-12.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Sinh Tố Lúa Mạch
							</h6>
							<h5>25000 VND</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix fruit">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-13.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Trái Táo
							</h6>
							<h5>20000 VND/KG</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix fruit">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-14.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Trái Xoài
							</h6>
							<h5>25000 VND/KG</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix fruit">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-15.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Trái Bơ
							</h6>
							<h5>30000 VND/KG</h5>
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-6 mix fruit">
					<div class="featured__item">
						<div class="featured__item__pic set-bg"
							data-setbg="img/featured/feature-16.jpg">
							
						</div>
						<div class="featured__item__text">
							<h6>
								Trái Dừa
							</h6>
							<h5>30000 VND/Trái</h5>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
	<!-- Featured Section End -->

	<!-- Banner Begin -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="banner__pic">
						<img src="img/banner/banner_01.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="banner__pic">
						<img src="img/banner/banner_02.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner End -->

	

	
	
	<!-- Chèn footer -->
	<div th:replace="~{fragment/footer :: footer}"></div>


	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>



</body>

</html>